@font-face {
    font-family: P01;
    src: url('fonts/Product Sans Bold.ttf') format('truetype');
}

@font-face {
    font-family: Cooper;
    src: url('fonts/Cooper-Black.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: P01;
    margin: 0;
    padding: 0;
}

.top img {
    width: 100%;
}

.container {
    padding: 12px;
    padding-bottom: 12px;
}

h1 {
    font-family: Cooper;
    color: #AB0827;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 8px; /* Espaço entre os campos */
    margin-bottom: 0px;
}

.row > div {
    flex: 1; /* Faz os campos terem o mesmo tamanho */
}

div {
    margin-bottom: 12px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select {
    width: 100%; /* Preenche toda a largura disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #666; /* Deixa o texto padrão em cinza */
    font-family: Arial, sans-serif; /* Garante que o estilo seja consistente */
}

select {
    appearance: none;
    -webkit-appearance: none; /* Para navegadores baseados em WebKit */
    -moz-appearance: none; /* Para navegadores baseados em Mozilla */
    background-image: url('');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

button {
    background-color: #AB0827;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #900620; /* Escurece o botão ao passar o mouse */
}
