body {
    background-color: #F9F9F9;
    padding-bottom: 60px; /* Para garantir que o conteúdo não fique escondido atrás do rodapé fixo */
}

.header-background h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.search-container {
    padding: 0 20px;
}

.product-image {
    border-radius: 8px;
}

.footer {
    border-top: 1px solid #E0E0E0;
}

.footer p {
    margin: 0;
    font-size: 12px;
}
