
@font-face {
    font-family: P01;
    src: url('fonts/Product\ Sans\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: Cooper;
    src: url('fonts/Cooper-Black.ttf') format('truetype');
}



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
}

.top img {
    width: 100%;
}

/* Estilo para o fundo da barra */
.progress-custom {
    position: relative;
    height: 15px;
    background-color: #e9ecef;
    border-radius: 15px;
    
}

/* Estilo da barra preenchida */
.progress-bar-custom {
    height: 100%;
    background-color: #AB0827; /* Vermelho */
    border-radius: 10px 0 0 10px;
    
}

/* Estilo dos marcadores */
.marker {
    position: absolute;
    top: -10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    margin-left: -5px;
}

.marker-filled {
    background-color: #AB0827; /* Vermelho */
    border-color: #AB0827;
    
}

/* Estilo do ícone central */
.marker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #e9ecef;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    left: 52%;
    transform: translateX(-50%);
    border: 2px solid #ccc;
}


/* Estilo dos textos */
.progress-text {
    position: absolute;
    top: -30px;
    font-size: 20px;
    margin-top: -20px;
    align-items: center;
    white-space: nowrap;
    display: flex;
}


.container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    padding: 12px;
    padding-bottom: 80px;
    width: 100%;
     max-width: 750px;
    
}

 
p{
    font-size: 17px;
    font-family: Arial, sans-serif;

    color: #525151;
    position: absolute;
   margin-left: 20px;
  
   padding-bottom: 50px;

}
.points {
    font-size: 33px;
    font-weight: bold;
    color: #070000;
    position: absolute;
    margin: 15px;
    
}

/* Estilo para os botões de navegação */
ul {
    list-style-type: none;;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFE4EB;
    color: aliceblue;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0px;
    border-radius: 8px 8px 0px 0px;
    
}

ul a {
    font-family: P01;
    font-size: 12px;
    font-weight: bold;
    color: #AB0827;
    padding: 0px 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

ul img {

    align-items: center;
}